.cookie-alert {
  border: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  z-index: 999;
}

.cookie-alert__content {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 1rem;
  color: #101d30;
  background-color: #fff;
}

@media screen and (min-width: 960px) {
  .cookie-alert__content {
    flex-direction: row;
    align-items: center;
    box-shadow: 0 8px 16px 0 rgba(34, 50, 84, 0.06);
    width: calc(100% - 2rem);
    border-radius: 4px 4px 0 0;
    padding: 2rem 0;
  }
}

.cookie-alert__inner-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 0;
  max-width: 86rem;
  margin: 0 auto;
}

@media screen and (min-width: 960px) {
  .cookie-alert__inner-container {
    flex-direction: row;
    align-items: center;
    padding: 0 4rem;
  }
}

.cookie-alert__text {
  display: inline-flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
}

@media screen and (min-width: 960px) {
  .cookie-alert__text {
    margin-bottom: 0;
    margin-right: 1rem;
  }
}

.cookie-alert__text h2 {
  font-size: 1.5rem;
  font-family: "MaisonNeue", "HelveticaNeue", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.cookie-alert__text p {
  font-size: 1rem;
  margin-top: 0.4rem;
  line-height: 1.4;
}

.cookie-alert__button-group {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-top: 0;
}

.cookie-alert__button-group .o-button-text {
  margin-top: 0;
  margin-left: 0.5rem;
}