/* Utility Classes */

.u-font-copy {
  font-size: 1.5rem;
  line-height: 1.5;
}

.u-accessibility-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.u-uppercase-text {
  text-transform: uppercase;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container img {
  width: 100%;
}

/* Section Classes */

.hero__container {
  background-image: url('https://internal-api.monzo.com/static/hero_background.png');
  height: 660px;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.hero__image {
  position: relative;
  display: flex;
  justify-content: flex-end;
}

.hero__image img {
  margin-top: 0;
}

.hero__cta-and-logo-container {
  display: flex;
  align-items: center;
}

.which-logo {
  width: 70px;
}

.fscs-logo {
  width: 43px;
}

.hero__logo-container {
  display: flex;
}

.hero__container--mobile {
  min-width: 100vw;
  margin-left: -16px;
}

.home-plus-strip {
  background-image: linear-gradient(-45deg, #F7F7F7 0%, #F0FDE2 51%, #CEFFFF 100%);
  position: relative;
}

.home-premium-strip {
  background-image: linear-gradient(225deg, #F7EDFF 0%, #FDF8E1 47%, #F7F7F7 100%);
  position: relative;
}

.home-plus-strip:before,
.home-plus-strip:after,
.home-premium-strip:before,
.home-premium-strip:after {
  width: 100%;
  position: absolute;
  left: 0;
  height: 120px;
  content: '';
  z-index: 0;
}

.home-plus-strip:before,
.home-premium-strip:before {
  top: 0;
  background: linear-gradient(to bottom, #fff, rgba(255, 255, 255, 0));
}

.home-plus-strip:after,
.home-premium-strip:after {
  bottom: 0;
  background: linear-gradient(to top, #fff, rgba(255, 255, 255, 0));
}

.home-plus-strip .container,
.home-premium-strip .container {
  z-index: 1; /* Required to bring content on top of the psuedoelements above */
  position: relative;
}

.new-badge {
  display: flex;
  align-items: center;
  width: 170px;
  height: 28px;
  margin-bottom: 16px;
  background-color: #008638;
  border-radius: 20px;
  color: white;
}

.new-badge--plus,
.new-badge--premium {
  width: 145px;
  background-color: #a942e4;
  background: -moz-linear-gradient(45deg, #a942e4 0%, #f61818 100%);
  background: -webkit-linear-gradient(45deg, #a942e4 0%, #f61818 100%);
  background: linear-gradient(45deg, #a942e4 0%, #f61818 100%);
}

.new-badge--premium {
  width: 175px;
}

.new-badge .new-badge__star-icon {
  width: 15px;
  margin-left: 10px;
  margin-bottom: 3px;
}

.new-badge .new-badge__text {
  margin: 10px 0 7px 7px;
  font-size: 16px;
  line-height: 1;
  font-weight: 600;
}

.plus-card {
  width: 375px;
  height: 239px;
  border-radius: 13.5px;
  background-image: url('/static/images/home/plus-card/shimmer.png');
  background-position: left center;
  animation: plusCardShimmer 3000ms linear infinite;
  /* animation-iteration-count: 1 */
  position: absolute;
  z-index: -1;
  right: 30px;
  bottom: 100px;
}

.plus-card__mc {
  position: absolute;
  bottom: 0;
  right: 0;
  background: url('/static/images/home/plus-card/mc.png') no-repeat center center / 100%;
  width: 90px;
  height: 59px;
}

.plus-card__logo {
  position: absolute;
  top: 12px;
  right: 0;
  width: 136px;
  height: 32px;
  background: url('/static/images/home/plus-card/logo.png') no-repeat center center / 100%;
}

@keyframes plusCardShimmer {
  from {
    background-position: left center;
  }

  to {
    background-position: right center;
  }
}

.service-quality-results-image {
  border: 1px solid #cbcbcb;
}

/* Media Queries */

@media screen and (max-width: 767px) {
  .container {
    padding-left: 32px;
    padding-right: 32px;
  }
  .hero__container {
    flex-direction: column;
  }
  .which-logo {
    width: 56px;
  }
  .fscs-logo {
    width: 44px;
  }
  .o-badge-ios,
  .o-badge-android {
    width: 135px;
    height: 40px;
  }
  .u-font-copy {
    font-size: 1rem;
  }
  .u-show-mobile {
    display: inherit;
  }
  .u-show-desktop {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .hero__cta-and-logo-container {
    align-items: start;
    flex-direction: column;
  }
}

@media screen and (min-width: 768px) {
  .hero__image--mobile {
    display: none;
  }
  .u-show-mobile {
    display: none;
  }
  .u-show-desktop {
    display: inherit;
  }
}

/* BANNER LINKS */

/* Banner Styles */

.banner-link {
  position: relative;
  display: block;
  width: 100%;
  background-color: #145d8e;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;
  color: white;
  font-size: 1.125rem;
  line-height: 1.3;
}

.banner-link:hover,
.banner-link:active,
.banner-link:focus,
.banner-link:visited {
  color: #ffffff;
}

.banner-link:hover,
.banner-link:active,
.banner-link:focus {
  background-color: #2991cc;
}

.banner-link:focus {
  outline-offset: 0;
  outline-color: #ffffff;
}

.banner-call-to-action {
  font-weight: 200;
  margin-left: 5px;
}

@media screen and (max-width: 572px) {
  .banner-call-to-action {
    display: block;
  }
}
